In [1]:
import pandas as pd

In [11]:
%matplotlib inline
import numpy as np
from pylab import *
from scipy import stats
import matplotlib.pyplot as plt

In [9]:
df = pd.read_csv('Pearson.txt', sep="\t", header=0)

In [5]:
df.describe()

        65.0\t59.8
count         1077
unique        1009
top     66.6\t68.2
freq             3

In [10]:
df.head()

   Father   Son
0    65.0  59.8
1    63.3  63.2
2    65.0  63.3
3    65.8  62.8
4    61.1  64.3

father = df.column[1]